<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Task list</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>Task list</h1>
<a href="/tasks">Task List</a>
</body>
</html>