<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Task list</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="manifest" href="manifest.json">
</head>
<body>
<h1>Task list</h1>
<a href="/tasks">Task List</a>

<div id="outTable">
</div>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-messaging.js"></script>
<script src="index.js"></script>
</body>
</html>